/* RESET */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{list-style:none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:baseline;min-width:0}html{min-height:100%;font-weight:400;touch-action:manipulation;-ms-touch-action:manipulation}body{min-height:100%;line-height:1}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}h1,h2,h3,h4,h5{font-weight:inherit}b,strong{font-weight:700}input,button,textarea{border:0;padding:0;font-weight:inherit;line-height:1}hr{display:block;width:100%;height:1px;background:#ada29c;margin:0;padding:0;border:0}.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}input::placeholder{color:inherit;opacity:.7}input[type=text]::-ms-clear,input[type=text]::-ms-reveal{display:none;width:0;height:0}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{display:none}a{color:inherit;text-decoration:none;}select:disabled{opacity:.6}

:root {
	--color-default: #fff;
}

:root {
    --wrapper: 88vw;
    --gutter: 1.6vw;
    --leftMargin: 6vw;
    --col: calc((var(--wrapper) - 15 * var(--gutter)) / 16);
    --col-2: calc(var(--col) * 2 + var(--gutter));
    --col-3: calc(var(--col) * 3 + 2 * var(--gutter));
    --col-4: calc(var(--col) * 4 + 3 * var(--gutter));
    --col-5: calc(var(--col) * 5 + 4 * var(--gutter));
    --col-6: calc(var(--col) * 6 + 5 * var(--gutter));
    --col-7: calc(var(--col) * 7 + 6 * var(--gutter));
    --col-8: calc(var(--col) * 8 + 7 * var(--gutter));
    --col-9: calc(var(--col) * 9 + 8 * var(--gutter));
    --col-10: calc(var(--col) * 10 + 9 * var(--gutter));
    --col-11: calc(var(--col) * 11 + 10 * var(--gutter));
    --col-12: calc(var(--col) * 12 + 11 * var(--gutter));
    --col-13: calc(var(--col) * 13 + 12 * var(--gutter));
    --col-14: calc(var(--col) * 14 + 13 * var(--gutter));
    --col-15: calc(var(--col) * 15 + 14 * var(--gutter))
}

.green{
    color: #00ff1c; 
}

.wrap {
    width: var(--wrapper);
    margin: 0 auto;
    position: relative
}

.wrap2 {
    width: var(--col-14);
    margin: 0 auto
}


html {
	font-size: 10px;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 55px;
    height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #161616; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00ff1c; 
}

.green{
    color: #00ff1c; 
}

.copyright{
    color: #333; 
}



* {
	box-sizing: border-box;
	color: #f3f3f3;
}

img {
	display: block;
	max-width: 100%;
	object-fit: contain;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Bold.woff2') format('woff2'),
        url('DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'DM Sans', Montserrat, sans-serif;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 1.75;
	background: #0c090900;
	background: #0b0b0b;
}

body.overflow {
	overflow: hidden;
}

.flex {
    display: flex;
    flex-wrap: wrap
}

@media (max-width: 1280px) {
    .quote2 p {
        font-size: 31px;
    }
}
.quote2 p {
    font: 300 normal 40px / normal "Aeonik";
}

.fl7 {
    flex: 0 0 var(--col-7);
}

p {
    margin: 26px 0;
}


.whoV2 {
    overflow: hidden
}

.whoV2 .gris {
    color: #888
}

.whoV2 span.gris {
    font-weight: 500
}

.whoV2 .quote2 p {
    text-align: left
}

.whoV2 .innerImgs {
    margin: -14% 0 0
}

.whoV2 .innerImg {
    position: relative
}

.whoV2 .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%
}

.whoV2 .innerImgsMob {
    -moz-column-gap: var(--gutter);
    column-gap: var(--gutter);
    margin: 36px 0 0
}

@media(min-width: 768px) {
    .whoV2 .innerImgsMob {
        display:none
    }
}

.whoV2 .innerImgsMob>div {
    flex: 1
}

.whoV2 .innerImgsMob>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.whoV2 .innerImgsMob .innerImg1 {
    aspect-ratio: 167/198;
    margin: 30px 0 0
}

.whoV2 .innerImgsMob .innerImg2 {
    aspect-ratio: 121/163;
    margin: var(--gutter) 0 0;
    width: 76%
}

.whoV2 .innerImgsMob .innerImg3 {
    aspect-ratio: 76/104;
    margin: var(--gutter) 0 0;
    width: 50%
}

.whoV2 .innerImgsMob .innerImg4 {
    aspect-ratio: 121/129;
    width: 76%
}

.whoV2 .innerImgsMob .innerImg5 {
    aspect-ratio: 257/189;
    margin: var(--gutter) 0 0;
    width: 100%
}

.whoV2 .innerImgsMob .innerImg6 {
    aspect-ratio: 129/183;
    margin: var(--gutter) 0 0;
    width: 80%
}

.whoV2 .innerImgs .innerImg1 {
    width: var(--col-4);
    margin: 24% var(--gutter) 0 0;
    aspect-ratio: 300/356
}

.whoV2 .innerImgs .innerRight {
    width: var(--col-10)
}

.whoV2 .innerImgs .innerImg2 {
    width: var(--col-3);
    aspect-ratio: 219/232
}

.whoV2 .innerImgs .innerImg3 {
    width: var(--col-4);
    aspect-ratio: 300/426
}

.whoV2 .innerImgs .innerImg4 {
    width: var(--col-3);
    aspect-ratio: 219/293
}

.whoV2 .innerImgs .innerImg5 {
    width: var(--col-6);
    aspect-ratio: 462/341;
    margin: 0 var(--gutter) 0 0
}

.whoV2 .innerImgs .innerImg6 {
    width: var(--col-2);
    aspect-ratio: 138/188
}

@media(max-width: 767px) {
    .whoV2 .innerImgs {
        display:none
    }
}

.whoV2 .innerImg {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content
}

.whoV2 .innerImg img,.whoV2 .innerImg video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.whoV2 .up {
    margin: 0 0 var(--gutter);
	gap: 2rem;
    align-items: flex-end
}

@media(max-width: 767px) {
    .whoV2 .wrap2 {
        width:var(--wrapper)
    }

    .whoV2 .quote2 p {
        flex: 0 0 var(--wrapper)
    }
}

#garciScroll {
    position: relative;
    min-height: 100vh;
    z-index: 2
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	padding: 0 8rem;
	margin: 2rem auto;
}

.headline-1 {
	font-size: 5.8rem;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.17;
}

.headline-2 {
	font-size: 4.8rem;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 1.08;
}


.headline-3 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.26;
}

.mb2{
	margin-bottom: 20px;
}

.headline-4 {
	font-size: 3.2rem;
	font-weight: 700;
	letter-spacing: -0.05em;
	line-height: 1.31;
}


.headline-5 {
	font-size: 2.4rem;
	font-weight: 500;
	letter-spacing: -0.05em;
	line-height: 1.45;
}

.link-black {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1.7rem 3.2rem;
	color: #000;
	background: #fff;
	border-radius: 4rem;
}



/* Header */

.logo{
	max-width: 135px;
}


.header {
	padding: 4rem 0;
	position: relative;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	align-items: center;
}

.header-logo_wrapper {
	flex: 1;
	z-index: 10;
}

.main-navigation {
	flex: 3;
}

.header__menu .menu-item {
	padding: 0 2.5rem;
	font-size: 1.6rem;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #fff;
}

.header__menu .header_btn{
	display: inline-flex;
	justify-content: center;
	margin-left: auto;
	padding: 1.2rem 2rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4rem;
	transition: all .5s ease;
	background: #FFF;
}

.btn {
	display: inline-flex;
	justify-content: center;
	margin-left: auto;
	padding: 1.6rem 2.4rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4rem;
	transition: all .5s ease;
	background: #00ff1c;
}

.btn a{
	color: #000;
	font-size: 14px;
}

.header__menu .header_btn a, .btn a{
	color: #000;
}

.footer .header_btn a{
	color: #fff;
}

.footer .menu-item a {
	color: #fff;
}

.header__menu .header_btn:hover {
	background: #000000;
	color: #ffffff;
	border: 1px solid white;
}

.btn:hover {
	background: #000000;
	color: #ffffff;
	border: 1px solid white;
}

.header__menu .header_btn:hover, .btn:hover  > a {
	color: #ffffff;
}

.burger-menu {
	flex-direction: column;
	justify-content: center;
	width: 3.2rem;
	height: 3.2rem;
	display: none;
}

.burger-menu .top-line,
.burger-menu .bottom-line {
	width: 100%;
	background: #fff;
	height: 1px;
	transition: transform 0.5s ease;
}

.burger-menu .top-line {
	margin-bottom: 0.8rem;
}

/* Header End */


/* Section Hero  */
.hero1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(80vh)
}

.hero__main-text {
    font-style: normal;
    font-weight: 300;
    font-size: 4.8181818182rem;
    line-height: 1;
    letter-spacing: -0.035em;
    display: grid;
	color: white;
    margin-block-end:4rem
}

@media only screen and (min-width: 641px) {
    .hero__main-text {
        font-size:5.8181818182rem
    }
}

@media only screen and (min-width: 1081px) {
    .hero__main-text {
        font-style:normal;
        font-weight: 300;
        font-size: 9.0909090909rem;
        line-height: 1;
        letter-spacing: -0.045em;
        max-width: 25ch
    }
}

@media only screen and (min-width: 1081px) {
    .hero__subtitles-wrapper {
        display:grid;
        gap: 1rem;
    }
}

@media only screen and (min-width: 1081px) {
    .hero__subtitles {
        display:grid;
        gap: 1rem;
        grid-column: 2;
        grid-template-columns: 1fr 1fr
    }
}

.hero__subtitles p {
	color: white;
    margin-block-end:0.5rem
}
	
.hero {
	position: relative;
	padding-top: 3rem;
}
.hero-background {
	position: relative;
	background: #00ff1c;
	border-radius: 3rem;
	padding: 10rem 0;
}

.hero-background-image {
	position: absolute;
	left: 50%;
	bottom: -20%;
	transform: translateX(-50%);
	z-index: 2;
	max-width: 90%;
	pointer-events: none;
}

.hero-background-image-mobile {
	display: none;
	/*position: absolute;*/
	/*left: 50%;*/
	/*top: -20%;*/
	/*transform: translateX(-50%);*/
	/*z-index: 2;*/
	/*pointer-events: none;*/
}

.title-big {
	font-size: 5.8rem;
	font-weight: 700;
	line-height: 1.13;
	text-align: center;
	pointer-events: none;
}
.hero-title {
	max-width: 770px;
	width: 100%;
	margin: 0 auto 3.5rem;
	letter-spacing: -0.05em;
	color: #000;
}


.hero-subtitle {
	font-size: 1.6rem;
	text-align: center;
	max-width: 520px;
	width: 100%;
	margin: 0 auto;
	letter-spacing: -0.01em;
	color: #000;
}
.hero-link,
.hero-link-mobile {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -37px;
	width: 7rem;
	height: 7rem;
	background: #000;
	border: .1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 3;
	transition: background 0.5s ease;
}

.hero-link-mobile {
	width: 4.8rem;
	height: 4.8rem;
	bottom: -24px;
}



.hero-link:hover {
	background: #333;
}

.hero-link:active {
	background: #fff;
}
/* Section Hero End  */

/* Section Networks */
.networks-overflow {
	overflow: hidden;
}

.networks-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem 2rem 25rem;

}
.networks {
	width: 200%;
}
.networks-blocks {
	display: flex;
	background: #f3f3f3;
	border-radius: 3rem;
	padding: 10rem;
	max-width: 1240px;
}

.networks-left-block:not(.mobile-networks) {
	flex: 1 0 40%;
	margin-right: 12rem;
}

.networks-right-block {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: 300vw;
	flex: 1 0 300vw;
}

.networks-title {
	text-align: left;
	margin-bottom: 2.5rem;
	letter-spacing: -0.05em;
	font-size: 5.8rem;
	color: #000;
}

.networks-subtitle {
	margin-bottom: 5.6rem;
	letter-spacing: -0.01em;
	line-height: 1.5;
	color: #000;
}

.network-link {
	padding: 1.7rem 3.2rem;
	color: #000;
	background: #fff;
	border-radius: 4rem;
	transition: background 0.5s ease, color 0.5s ease;
}

.network-link:hover {
	background: #00ff1c;
	color: #000;
}


.network-link:active {
	background: #ADF05F;
	color: #000;
}


.networks-card {
	display: flex;
	justify-content: space-between;
	width: 400px;
	padding: 4rem 3rem;
	margin-right: 2rem;
	background: #fff;
	border: 1px solid #E2E2E2;
	border-radius: 3rem;
	min-height: 20rem;
}

.networks-card-title {
	font-size: 3.8rem;
	font-weight: 700;
	line-height: 1.26;
	letter-spacing: -0.05em;
	color: #000;
}
/* Section Networks End */


/* Section 3 cards */
.animate-trigger {
	opacity: 0;
	transition: opacity 3s ease-out;
}

.animate-trigger.animate {
	opacity: 1;
}

.three-cards-title {
	text-align: center;
	max-width: 86rem;
	margin: 0 auto 24rem;
	color: #fff;
}

.three-cards-title span {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	margin: 0 1rem;
}

.three-cards-title span::after {
	content: "";
	position: absolute;
	left: -10px;
	right: -10px;
	top: 0;
	z-index: -1;
	border-radius: 1.6rem;
	padding: 2px 10px;
	height: 100%;
	background: #00ff1c;
}

.three-cards-wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	max-width: 82rem;
	margin: 0 auto;
}

.three-cards-wrapper .card {
	max-width: calc(50% - 2rem);
	flex: 1 0 calc(50% - 2rem);
	margin: 0 1rem 2.4rem;
	padding: 4.5rem 4.5rem;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.three-cards-wrapper .card-image {
	width: 14rem;
	height: auto;
}

.three-cards-wrapper .first-card {
	background: #fff;
	margin-top: -7rem;
}

.three-cards-wrapper .second-card {
	background: #00ff1c;
}

.three-cards-wrapper .third-card {
	background: #F3F3F3;
	margin-top: -10.5rem;
}
.three-cards-wrapper .first-card .card-title {
	color: #000;
}

.three-cards-wrapper .second-card .card-title {
	color: #000;
}

.three-cards-wrapper .third-card .card-title {
	color: #000;
}

.three-cards-subtext {
	display: flex;
	align-items: flex-end;
	max-width: calc(50% - 1rem);
	flex: 1 0 calc(50% - 1rem);
	margin: 7rem 0.5rem 2.4rem 0;
	padding: 4rem 4rem;
}

.three-cards-subtext p {
	border-top: 1px solid #fff;
	padding-top: 3.4rem;
	color: #fff;
}

.bgrn, .three-cards-subtext p span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 1rem;
}

.bgrn::after, .three-cards-subtext p span::after {
	content: "";
	position: absolute;
	left: -8px;
	right: -10px;
	top: 0;
	z-index: -1;
	border-radius: 1.6rem;
	padding: 2px 10px;
	height: 100%;
	background: #00ff1c;
}

/* Section 3 cards End */


/* Reliability Section */
.reliability {
	padding: 14rem 0 20rem;
}

.reliability-title {
	margin-bottom: 8rem;
	color: #fff;
}

.reliability-left {
	flex: 1 0 60%;
}

.reliability-right-image img {
	max-width: 102%;
}

.reliability-block {
	display: flex;
}

.reliability-steps {
	display: flex;
	justify-content: flex-start;
}

.reliability-step {
	margin-right: 5rem;
	color: #fff;
	width: fit-content;
}
.reliability-step_number {
	border-bottom: 1px solid #fff;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	padding-bottom: 1rem;
}
/* Reliability Section End */

/* Two cards section  */
.two-cards-wrapper {
	display: flex;
	margin: 0 -1rem;
}

.green-card {
	background: #00ff1c;
	padding: 7rem 10rem 6rem;
	flex: 0 0 calc(50% - 2rem);
	border-radius: 3rem;
	margin: 0 1rem;
	position: relative;
}

.card-slider {
	background: #F2F3F3;
	flex: 0 0 calc(50% - 2rem);
	border-radius: 3rem;
	margin: 0 1rem;
	padding: 7rem 0 6rem;
}

.green-card_title {
	margin-bottom: 2.4rem;
}
.green-card_text {
	margin-bottom: 5rem;
}

.green-card_link {
	padding: 1.7rem 3.2rem;
	color: #000;
	transition: background 0.5s ease, color 0.5s ease;
}

.green-card_link:hover {
	background: #333;
}

.green-card_link:active {
	background: #ADF05F;
}

.green-card_image {
	position: absolute;
	bottom: 6rem;
	right: 8rem;
	max-width: 20rem;
}

.card-slider .swiper-wrapper {
	transition: all 0.6s linear;
}

.card-slider .swiper-slide {
	width: auto !important;
}

.slider-wrapper-top {
	margin-bottom: 2rem;
}

.card-slider .inner-slide {
	width: 16rem;
}

.slider-wrapper-bottom {
	margin-bottom: 4rem;
}

.card-slider-text {
	padding: 0 8rem;
	font-size: 1.4rem;
	color: #000;
}
/* Two cards section end */

/*  Prefooter */
.prefooter {
	padding: 20rem 0 12rem;
	background-image: url("./images/prefooter.png");
	background-size: 70% auto;
	background-position: right 65%;
	background-repeat: no-repeat;
}

.prefooter-wrapper {
	display: flex;
	align-items: center;
}

.prefooter-left {
	flex: 1 0 40%;
}

.prefooter-left_title {
	margin-bottom: 5rem;
	color: #fff;
}

.prefooter-left_subtitle {
	margin-bottom: 3rem;
	color: #fff;
}

.prefooter-left_socials {
	display: flex;
}

.prefooter-left_socials .social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6.2rem;
	height: 6.2rem;
	background: #000;
	border-radius: 50%;
	margin-right: 1.6rem;
	transition: all 0.5s ease;
	border: 1px solid white;
}

.prefooter-left_socials .social:last-child {
	margin-right: 0;
}

.prefooter-left_socials .social:hover {
	background: #00ff1c;
}

.prefooter-left_socials .social:hover svg path {
	fill: #fff;
}

/* Prefooter End */

/* Footer */
.footer {
	background: #fff;
	padding: 4.5rem 0;
	flex: 0;
}

.footer-wrapper {
	display: flex;
	align-items: center;
	padding-bottom: 3.4rem;
}

.footer-logo_wrapper {
	flex: 1;
}

.footer-logo_wrapper img,
.header-logo_wrapper img {
	transition: opacity 0.5s ease;
}

.footer-logo_wrapper a:hover img,
.header-logo_wrapper a:hover img {
	opacity: 0.7;
}

.footer .menu-item a {
	color: #000;
	transition: color 0.5s ease;
}


.footer .menu-item:hover a,
.header__menu .menu-item:not(.header_btn):hover a {
	color: #999;
}

.footer .header_btn {
	margin-left: auto;
	padding: 1.2rem 2rem;
	border:  1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4rem;
	transition: all .5s ease;
}

.footer .header_btn:hover {
	background: #fff;
	color: #000;
}

.footer .header_btn:active {
	background: #CFCFCF;
	color: #000;
}

.footer .header_btn:hover a {
	color: #000;
}

.footer-bottom {
	display: flex;
	justify-content: center;
	padding: 1rem 0 0;
	border-top: 1px solid rgba(0, 0, 0, 0.338);
	color: #757575;
	opacity: 0.8;
}
/* Footer End */

/*  Network   */
.networks-cards {
	padding: 4rem 0 0;
	flex: 1;
}

.networks-cards .headline-wrapper {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}


.networks-cards .headline-wrapper .networks-cards_title {
	flex: 2;
}

.networks-cards .headline-wrapper .search-wrapp {
	max-width: 50%;
}


.networks-cards .search-wrapp {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.networks-cards .search-wrapp #autoComplete {
	color: #000;
	border: none;
	width: auto;
	background-image: url('./images/search.svg');
	font-size: 2.4rem;
	line-height: 1.33;
	background-size: 3.2rem;
	background-position: left;
}

.networks-cards .search-wrapp #autoComplete_list_1 {
	border-radius: 0px 0px 3rem 3rem;
}

.networks-cards .search-wrapp  .autoComplete_wrapper>ul>li {
	font-size: 2.4rem;
	line-height: 1.33;
	padding: 1rem 4rem;
	margin: 0;
}

.autoComplete_wrapper>input {
	padding: 0 2rem 0 4.2rem !important;
}

.networks-cards .search-wrapp  .autoComplete_wrapper>ul>li:hover {
	background: #F3F3F3;
}

.networks-cards .search-wrapp  .autoComplete_wrapper>ul>li:active {
	background: #E8E8E8;
}

.networks-cards .search-wrapp .autoComplete_wrapper>ul>li mark {
	color: inherit;
	font-weight: unset;
}

.networks-cards .search-wrapp .autoComplete_wrapper>ul {
	top: 84%;
	padding: 1rem 0;
}

.networks-cards .search-wrapp #autoComplete::placeholder {
	color: #000;
	font-weight: 500;
	font-size: 2.4rem;
	opacity: 1;
	letter-spacing: -0.05em;
}

.networks-cards .search-wrapp #autoComplete:focus::placeholder {
	color: #CFCFCF;
}

.search-submit {
	width: 3.2rem;
	height: 3.2rem;
	background-image: url('./images/search.svg');
	margin-right: 1rem;
	background-repeat: no-repeat;
}

.networks-wrapper .network-card {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex: 1 0 calc(33.3% - 2rem);
	max-width: calc(33.3% - 2rem);
	margin: 0 1rem 2rem;
	border: 1px solid #CFCFCF;
	border-radius: 3rem;
	padding: 4rem 3rem;
	min-height: 21rem;
}

.networks-wrapper .network-card:hover {
	background: #00ff1c;
}


.networks-wrapper .network-card .network-icon {
	position: relative;
	width: 7rem;
	height: 7rem;
}

.networks-wrapper .network-card .network-icon .icon_colored {
	opacity: 0;
	visibility: hidden;
}

.networks-wrapper .network-card:hover .icon_colored {
	opacity: 1;
	visibility: visible;
}

.networks-wrapper .network-card .network-icon .icon_colored,
.networks-wrapper .network-card .network-icon .icon {
	position: absolute;
	left: 0;
	top: 0;
}

.networks-wrapper .network-card.hidden {
	display: none;
}

.networks-wrapper .network-card:nth-child(3n+2) {
	margin-top: -7rem;
	margin-bottom: 9rem;
}

.networks-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 19rem 0 10rem;
	margin: 0 -1rem;
}


/*  Network  End  */


/* Single Network */
.single-network {
	padding: 1rem 0 5rem;
}

.single-network-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.black-card {
	position: sticky;
	top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6rem 6rem 5rem;
	flex: 1 0 calc(42% - 1rem);
	max-width: calc(42% - 1rem);
	border-radius: 3rem;
	background: #fff;
	min-height: 550px;
}
.black-card .network-name {
	color: #000;
}

.steps-anchors {
	position: relative;
	padding-left: 3rem;
}

.steps-anchors::before {
	position: absolute;
	top: 0;
	left: 4px;
	bottom: 0;
	content: "";
	height: 100%;
	width: 4px;
	background: #242424;
	display: inline-block;
	border-radius: 1.8rem;
}



.steps-anchors .step-anchor {
	color: #808080;
	margin-bottom: 1.6rem;
	position: relative;
}

.steps-anchors .step-anchor::before {
	content: "";
	position: absolute;
	left: -2.5rem;
	top: 0;
	width: 4px;
	height: 108%;
	display: block;
	background: #fff;
	opacity: 0;
	z-index: 1;
	border-radius: 1.8rem;
}

.steps-anchors .step-anchor.active {
	color: #000;
}

.steps-anchors .step-anchor.active::before {
	opacity: 1;
}

.steps-anchors .step-anchor:last-child {
	margin-bottom: 0;
}

.steps-wrapper {
	flex: 1 0 calc(58% - 1rem);
	max-width: calc(58% - 1rem);
}

.steps-wrapper .step {
	border: 1px solid #CFCFCF;
	border-radius: 3rem;
	padding: 5rem 6rem;
	margin-bottom: 2rem;
	transition: background 0.5s ease;
}


.steps-wrapper .step:last-child {
	margin-bottom: 0;
}

/*.steps-wrapper .step-description {*/
/*	margin-bottom: 4rem;*/
/*}*/

.steps-wrapper .step-link {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3rem;
	padding: 1.4rem 4.6rem 1.4rem 3.2rem;
	margin-right: 1rem;
	font-weight: 500;
	transition: background 0.5s ease, color 0.5s ease;
	margin-top: 4rem;
	letter-spacing: -0.01em;
}

.steps-wrapper .step-link:hover {
	background: #fff;
	color: #000;
}

.steps-wrapper .step-link:hover::after {
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}

.steps-wrapper .step-link::after {
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	right: 2.5rem;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}


.steps-wrapper .step-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	padding: 1.7rem 3rem;
	background: #E8E8E8;
	margin-top: 4rem;
	letter-spacing: -0.01em;
}

.steps-wrapper .step-copy {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	border-radius: 3rem 0 0 3rem;

	padding: 0.8rem 3rem;
	background: #F3F3F3;
	transition: background 0.5s ease;
}

.steps-wrapper .step-copy > p {
	width: 390px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 2.4rem;
	letter-spacing: -0.01em;
}

.step-copy-wrapper {
	display: flex;
	margin-top: 4rem;
	position: relative;
}

.steps-wrapper .copy-image-wrapp {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	cursor: pointer;
	padding: 0 2rem;
	position: relative;
	background: #F3F3F3;
	border-radius: 0 3rem 3rem 0;
	transition: background 0.5s ease;
}

.steps-wrapper .copy-image-wrapp::before {
	content: "";
	width: 1px;
	height: 70%;
	background: rgba(0, 0, 0, 0.15);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.steps-wrapper .copy-image-wrapp svg {
	flex: 1 0 auto;
}


.copy-popup {
	border-radius: 3rem;
	background: #fff;
	padding: 1.2rem 2rem;
	color: #000;
	font-size: 1.6rem;
	position: absolute;
	bottom: 110%;
	right: 0;
	display: none;
	width: 210px;
	letter-spacing: -0.01em;
}
/* Single Network End */

.pin-spacer {
	inset: unset !important;
}

.error404 {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.error404 .error-404 {
	flex: 1;
	padding: 20rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}


.error404 .footer {
	flex: 0;
}

.error404 .page-header {
	text-align: center;
	font-size: 4.8rem;
}

html {
	height: 100%;
}


.page-template-networks {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page-template-networks .header,
.error404 .header {
	flex: 0 0 auto;
}

.page-template-networks .main-wrapper,
.error404 .main-wrapper {
	flex: 1 0 auto;
}

.page-template-networks .footer,
.error404 .footer {
	flex: 0 0 auto;
}


.to-top {
	position: fixed;
	right: 3.6rem;
	bottom: 3.6rem;
	cursor: pointer;
	z-index: 999;
}

.to-top.hidden_btn {
	opacity: 0;
	visibility: hidden;
}

.to-top:hover circle {
	fill: #E8E8E8;
	stroke: #E8E8E8;
}

.to-top:active circle {
	fill: #fff;
	stroke: #fff;
}

.to-top:active path {
	stroke: #fff;
}